<%= form_with(model: father, local: true, html: { multipart: true }) do |form| %>
  <% if father.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(father.errors.count, "error") %> prohibited this father from being saved:</h2>

      <ul>
      <% father.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :father_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :father_cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :father_email %>
  </div>

  <div class="field">
    <%= form.label :occupation_id %>
    <%= form.collection_select(:occupation_id, @occupations, :id, :descricao, prompt: true) %>
  </div>

  <%= form.fields_for :address do |ff| %>
    <div class="field">
      <%= ff.label :street %>
      <%= ff.text_field :street %>
    </div>
    <div class="field">
      <%= ff.label :zip %>
      <%= ff.text_field :zip %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
