<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @father.name %>
  <strong>Cpf:</strong>
  <%= @father.cpf %>
  <strong>Email:</strong>
  <%= @father.email %>
  <strong>Ocupação:</strong>
  <%= @father.ocupacao_descricao %>
</p>
<hr>

  <ul>
    <% @father.children.each do |child| %>
      <li><%= child.name %></li>
    <% end %>
  </ul>



<%= link_to 'Edit', edit_father_path(@father), class: "btn btn-primary" %> |
<%= link_to 'Back', fathers_path, class: "btn btn-primary" %>
